.clearfix:after {
	content: ".";
	display: block;
  	clear: both;
 	visibility: hidden;
  	line-height: 0;
 	height: 0;
}

.error-text {
	float: left;
	max-width: 60%;
	margin-right: 40px;
	padding-left: 20px;
}

.error-img {
	background-image: url("../images/404img7.gif");
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
	width: 35%;
	height: 300px;
}

.error-container {
	max-width: 960px;
	margin: auto;
	background-color: white;
}

.error-message {
	font-size: 16px;
}

.error-list {
	padding: 0;
}

.error-listItem {
	list-style: none;
}

.error-link {
	text-decoration: none;
	color: black;
}

.error-link:hover {
	text-decoration: underline;
	font-weight: bold;
}



